body {
  background-color: #f8f9fd;
  font-family: Arial, sans-serif;
}

.main-box {
  width: 300px;
  padding: 20px;
  margin: 50px auto;
  background-color: #b9b1ffe4;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
}

.main-box h2 {
  color: #2a1f66;
  margin-bottom: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card p {
  font-size: 14px;
  color: #333;
  margin: 0;
}

.card h1 {
  margin: 10px 0 0;
  color: #000;
}