.product-container {
            width: 500px;
            height: 700px;
            padding: 30px;
            margin: 10px;
            border: 3px solid grey;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        
        .product-container .watch {
            width: 100%;
        }
        .product-name {
            font-weight: bold;
        }
        .product-description{
            margin: 0;
            margin-bottom: 10px;
        }
        .buy-now-button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .buy-now-button:hover {
            background-color: #45a049;
        }