body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    text-align: center;
}

.title {
    color: #00706c;
    margin-top: 40px;
    font-size: 32px;
}

.calculator {
    width: 260px;
    margin: 40px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
}

.display {
    width: 100%;
    height: 50px;
    background: #ffffff;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    background: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

button:hover {
    background: #e5e5e5;
}

.op {
    background: black;
    color: white;
}

.op:hover {
    background: #333;
}

.clear {
    background: red;
    color: white;
}

.clear:hover {
    background: darkred;
}

.eq {
    background: black;
    color: white;
}

.eq:hover {
    background: #333;
}
